<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/dashboard">Home</a>
        <a href="/transactions">Transactions</a>
        <a href="/Accounts">Accounts</a>
        <a href="/blacklisted">Blacklisted</a>
        <a href="/contactus">Contact Us</a>
        <button onclick="logout()">Sign Out</button>
    </nav>
</body>
</html>